<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>タクシー評価結果</title>
        <% include ../common/_head.ejs %>
    </head>
    <body>
        <div data-role="page" data-url="/taxi">
            <div data-role="header" data-position="fixed">
                <h1>結果</h1>
            </div>
            <div data-role="content">
                <div class="ui-grid-c">
                    <div class="ui-block-a">日時・場所</div>
                    <div class="ui-block-b">色</div>
                    <div class="ui-block-c">タイプ</div>
                    <div class="ui-block-d">評価</div>

                    <% taxis.forEach(function(doc){ %>
                      <div class="ui-block-a">
                        <%= doc.createdAtString('不明') %>
                      </div>
                      <div class="ui-block-b">
                        <%= doc.colorName() %>
                      </div>
                      <div class="ui-block-c">
                        <%= doc.companyTypeName() %>
                      </div>
                      <div class="ui-block-d">
                          <% for (var i = 0; i < doc.rating; i ++) { %>
                              <img src="/images/stars.png" style="width: 16px; height: 16px;"/>
                              <% } %>
                      </div>
                      <div class="ui-block-a" style="width: 100%;">
                        <span style="margin-left: 20px;"></span>
                        <% if (doc.hasRoute()) { %>
                          <a href="/geoLocation?ridingId=<%= doc.ridingId %>" data-transition="slide">
                            <%= doc.from() %> ～ <%= doc.to() %>
                          </a>
                        <% } %>
                      </div>
                    <% }) %>
                </div>
                
            </div>
            <div data-role="footer" data-position="fixed">
                <a href="/" data-rel="back">戻る</a>
            </div>
        </div>
    </body>
</html>
